# ---------------------------------------------
#  Exposing macros to the UI
# ---------------------------------------------
[gcode_macro ROME_LOAD_TOOL]
variable_parameter_TOOL : 1
variable_parameter_TEMP : -1
gcode:
  LOAD_TOOL TOOL={params.TOOL|default(1)|int} TEMP={params.TEMP|default(-1)|int}


[gcode_macro ROME_UNLOAD_TOOL]
variable_parameter_TOOL : -1
variable_parameter_TEMP : -1
gcode:
  UNLOAD_TOOL TOOL={params.TOOL|default(-1)|int} TEMP={params.TEMP|default(-1)|int}


[gcode_macro ROME_SELECT_TOOL]
variable_parameter_TOOL : -1
gcode:
  SELECT_TOOL TOOL={params.TOOL|default(-1)|int}


[gcode_macro ROME_EJECT_TOOL]
variable_parameter_TOOL : -1
gcode:
  EJECT_TOOL TOOL={params.TOOL|default(-1)|int}


[gcode_macro PAUSE_ROME]
gcode:
  _PAUSE_ROME


[gcode_macro RESUME_ROME]
gcode:
  _RESUME_ROME


[gcode_macro LOAD_ALL_FILAMENTS]
gcode:
  LOAD_FILAMENTS

[gcode_macro SET_INFINITE_SPOOL]
gcode:
  _SET_INFINITE_SPOOL

# ---------------------------------------------
#  RatOS integration
# ---------------------------------------------
[gcode_macro _START_PRINT_AFTER_HEATING_EXTRUDER]
variable_tool: -1
gcode:
  {% if tool >= 0 %}
    LOAD_TOOL TOOL={tool} SENSOR=1 TEMP=-1
  {% endif %}
  {% if printer["gcode_macro RatOS"].nozzle_priming|lower == 'primeline' %}
    PRIME_LINE
  {% endif %}
  {% if printer["gcode_macro RatOS"].nozzle_priming|lower == 'primeblob' %}
    PRIME_BLOB
  {% endif %}
  {% if printer["gcode_macro RatOS"].skew_profile is defined %}
    SKEW_PROFILE LOAD={printer["gcode_macro RatOS"].skew_profile}
  {% endif %}


# ---------------------------------------------
#  Pause / Resume
# ---------------------------------------------
[gcode_macro _PAUSE_ROME]
gcode:
  SAVE_GCODE_STATE NAME=PAUSE_state
  #SET_IDLE_TIMEOUT TIMEOUT=36000
  G91
  G1 Z+50 F3000
  G90
  {printer.configfile.settings['gcode_macro pause'].rename_existing}


[gcode_macro _RESUME_ROME]
gcode:
  RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=600
  {printer.configfile.settings['gcode_macro resume'].rename_existing}


# -------------------------------------										
# Extruder Notifications
# -------------------------------------										
[gcode_macro _SELECT_EXTRUDER]
gcode:
  M118 selecting extruder {params.EXTRUDER} 
  # put your custom gcode here 
  # in case you you want to control some status LEDs 

[gcode_macro _EXTRUDER_SELECTED]
gcode:
  M118 Extruder {params.EXTRUDER} selected
  # put your custom gcode here 
  # in case you you want to control some status LEDs 

[gcode_macro _EXTRUDER_ERROR]
gcode:
  M118 Extruder {params.EXTRUDER} error
  # put your custom gcode here 
  # in case you you want to control some status LEDs 

[gcode_macro _CONTINUE_PRINTING]
gcode:
  M118 Continue printing with extruder {params.EXTRUDER}
  # put your custom gcode here 
  # in case you you want to control some status LEDs 


# -------------------------------------										
# Auto loader 
# -------------------------------------										
[gcode_macro _AUTOLOAD_RESUME_AFTER_INSERT]
gcode:
  M118 Filament {params.TOOL} inserted
  # put your custom gcode here 
  # in case you have a nozzle wiper or a similar solution 
  RESUME 

[gcode_macro _INFINITE_RESUME_AFTER_SWAP]
gcode:
  M118 Spool replaced with Filament {params.TOOL}
  # put your custom gcode here 
  # in case you have a nozzle wiper or a similar solution 
  RESUME 
